In [1]:
import sys
import pandas as pd
from sklearn.preprocessing import LabelEncoder

sys.path.append("../")

In [2]:
import re
import numpy as np
def search_price(text):
# for i in df["description"].dropna().sample(100):
    # print(i)
    pattern = r"\b\d{1,7}(?:\.\d{1,7})?\s*(?:usd|dolar|dolares)\b"
    nums = re.findall(pattern, text)
    if nums:
        # print(nums[0] if len(nums)>0 else np.nan)
        # print("\n")
        return float(nums[0])
    else:
        return np.nan

In [228]:
df_train = pd.read_parquet("../data/raw/df_train.parquet")
df_test = pd.read_parquet("../data/raw/df_test.parquet")

In [229]:
df_train.head()

,id,ad_type,lat,lon,country,province,suburb,published_suburb,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
0,5,Propiedad,-34.663334,-58.486344,Argentina,Ciudad Autonoma de Buenos Aires,Mataderos,None,NaN,NaN,NaN,NaN,NaN,75000.0,USD,venta ph 3 ambientes caba,codigo 2417-larraya 2700 caba ubicado larraya ...,PH,Venta
1,98,Propiedad,-34.603990,-58.412370,Argentina,Ciudad Autonoma de Buenos Aires,Abasto,None,1.0,NaN,1.0,28.0,28.0,98000.0,USD,departamento 1 ambiente venta abasto,excelente monoambiente contrafrente 28 m2 much...,Departamento,Venta
2,100,Propiedad,-34.691785,-58.406821,Argentina,Buenos Aires,Lanús,Lanús Oeste,1.0,NaN,1.0,36.0,36.0,67000.0,USD,amplio monoambiente divisible venta lanus cana...,excelente ubicacion mts av coronel d'elia 200 ...,Departamento,Venta
3,101,Propiedad,-34.553008,-58.457528,Argentina,Ciudad Autonoma de Buenos Aires,Nuñez,None,NaN,NaN,NaN,NaN,NaN,335000.0,USD,3 amb torre categoria estrenar cochera pileta ...,codigo 5598-vd015 ubicado 3 febrero 2800 publi...,Departamento,Venta
4,103,Propiedad,-34.603990,-58.412370,Argentina,Ciudad Autonoma de Buenos Aires,Almagro,None,1.0,NaN,1.0,28.0,28.0,98000.0,USD,departamento 1 ambiente venta almagro,excelente monoambiente contrafrente 28 m2 much...,Departamento,Venta

In [230]:
df_test.head()

,id,ad_type,lat,lon,country,province,suburb,published_suburb,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
0,556713,Propiedad,-34.573623,-58.442399,Argentina,Ciudad Autonoma de Buenos Aires,Colegiales,None,3.0,2.0,2.0,NaN,NaN,NaN,USD,departamento venta belgrano capital federal,sup escritura 96.47 m2 cubiertos 61 m2 descubi...,Departamento,Venta
1,192912,Propiedad,-34.606620,-58.430493,Argentina,Ciudad Autonoma de Buenos Aires,Almagro,None,3.0,2.0,2.0,77.0,67.0,NaN,USD,departamento 3 ambientes venta almagro,excelente departamento ambientes amplio modern...,Departamento,Venta
2,238224,Propiedad,-34.574123,-58.491760,Argentina,Ciudad Autonoma de Buenos Aires,Villa Urquiza,None,2.0,NaN,1.0,60.0,55.0,NaN,USD,andonaegui 2600 4deg departamento venta,excelente 3 ambientes frente balcon vista abie...,Departamento,Venta
3,257134,Propiedad,-34.631770,-58.420737,Argentina,Ciudad Autonoma de Buenos Aires,Boedo,None,2.0,1.0,1.0,74.0,47.0,NaN,USD,,corredor responsable marcelo trujillo cpi 6470...,PH,Venta
4,521738,Propiedad,-34.607225,-58.429983,Argentina,Ciudad Autonoma de Buenos Aires,Almagro,None,3.0,2.0,1.0,66.0,64.0,NaN,USD,venta 3 ambientes almagro balcon amenities,corredor responsable marcelo trujillo cucicba ...,Departamento,Venta

In [231]:
df_train.isna().sum().sort_values(ascending=False)

published_suburb    122726
surface_total        45232
bedrooms             44388
surface_covered      43097
lat                  11351
lon                  11351
rooms                10756
bathrooms             6743
suburb                5416
currency                 0
property_type            0
description              0
title                    0
id                       0
price                    0
ad_type                  0
province                 0
country                  0
operation_type           0
dtype: int64

In [232]:
df_test.isna().sum().sort_values(ascending=False)

price               6000
published_suburb    5541
surface_total       1226
surface_covered     1121
bedrooms            1068
lat                  456
lon                  456
bathrooms            218
suburb               211
property_type          0
description            0
title                  0
currency               0
id                     0
ad_type                0
rooms                  0
province               0
country                0
operation_type         0
dtype: int64

In [233]:
df_test[["lat", "lon"]].value_counts()

lat         lon
-34.579326  -58.455819    31
-34.597256  -58.445498    22
-34.588007  -58.420122    16
-34.608248  -58.421008    15
-34.604387  -58.451789    15
                          ..
-34.612419  -58.430260     1
-34.612398  -58.406936     1
-34.612385  -58.430173     1
-34.612369  -58.394605     1
-27.358836  -55.930703     1
Name: count, Length: 4166, dtype: int64

In [234]:
df_train[["lat", "lon"]].value_counts()

lat         lon
-34.579326  -58.455819    978
-34.608248  -58.421008    618
-34.593371  -58.442232    324
-34.589767  -58.420728    293
-34.598219  -58.430038    285
                         ...
-34.625542  -58.371130      1
            -58.372278      1
-34.625538  -58.467232      1
            -58.431370      1
-24.185786  -65.299477      1
Name: count, Length: 53330, dtype: int64

## Imputing

In [3]:
df_train = pd.read_parquet("../data/interim/df_train.parquet", engine="pyarrow")
df_test = pd.read_parquet("../data/interim/df_test.parquet", engine="pyarrow")

In [4]:
df_train.to_parquet("../data/interim/df_train_impute.parquet", engine="pyarrow")
df_test.to_parquet("../data/interim/df_test_impute.parquet", engine="pyarrow")

In [5]:
# df_train["price"] = df_train["price"].map(lambda x: x if x > 10000 else np.nan)

df_train = df_train[df_train["price"] > 10000]

,id,ad_type,lat,lon,country,province,suburb,published_suburb,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
0,5,Propiedad,-34.663334,-58.486344,Argentina,Ciudad Autonoma de Buenos Aires,Mataderos,Mataderos,NaN,NaN,NaN,87.0,87.0,75000.0,USD,venta ph 3 ambientes caba,codigo 2417-larraya 2700 caba ubicado larraya ...,PH,Venta
1,98,Propiedad,-34.603990,-58.412370,Argentina,Ciudad Autonoma de Buenos Aires,Abasto,Abasto,1.0,1.0,1.0,28.0,28.0,98000.0,USD,departamento 1 ambiente venta abasto,excelente monoambiente contrafrente 28 m2 much...,Departamento,Venta
2,100,Propiedad,-34.691785,-58.406821,Argentina,Buenos Aires,Lanús,Lanús Oeste,1.0,1.0,1.0,36.0,36.0,67000.0,USD,amplio monoambiente divisible venta lanus cana...,excelente ubicacion mts av coronel d'elia 200 ...,Departamento,Venta
3,101,Propiedad,-34.553008,-58.457528,Argentina,Ciudad Autonoma de Buenos Aires,Nuñez,Nuñez,3.0,2.0,2.0,74.0,74.0,335000.0,USD,3 amb torre categoria estrenar cochera pileta ...,codigo 5598-vd015 ubicado 3 febrero 2800 publi...,Departamento,Venta
4,103,Propiedad,-34.603990,-58.412370,Argentina,Ciudad Autonoma de Buenos Aires,Almagro,Almagro,1.0,1.0,1.0,28.0,28.0,98000.0,USD,departamento 1 ambiente venta almagro,excelente monoambiente contrafrente 28 m2 much...,Departamento,Venta

In [6]:
df_train.head()

,id,ad_type,lat,lon,country,province,suburb,published_suburb,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
0,556713,Propiedad,-34.573623,-58.442399,Argentina,Ciudad Autonoma de Buenos Aires,Colegiales,Colegiales,3.0,2.0,2.0,96.47,61.0,NaN,USD,departamento venta belgrano capital federal,sup escritura 96.47 m2 cubiertos 61 m2 descubi...,Departamento,Venta
1,192912,Propiedad,-34.606620,-58.430493,Argentina,Ciudad Autonoma de Buenos Aires,Almagro,Almagro,3.0,2.0,2.0,77.00,67.0,NaN,USD,departamento 3 ambientes venta almagro,excelente departamento ambientes amplio modern...,Departamento,Venta
2,238224,Propiedad,-34.574123,-58.491760,Argentina,Ciudad Autonoma de Buenos Aires,Villa Urquiza,Villa Urquiza,2.0,1.0,1.0,60.00,55.0,NaN,USD,andonaegui 2600 4deg departamento venta,excelente 3 ambientes frente balcon vista abie...,Departamento,Venta
3,257134,Propiedad,-34.631770,-58.420737,Argentina,Ciudad Autonoma de Buenos Aires,Boedo,Boedo,2.0,1.0,1.0,74.00,47.0,NaN,USD,,corredor responsable marcelo trujillo cpi 6470...,PH,Venta
4,521738,Propiedad,-34.607225,-58.429983,Argentina,Ciudad Autonoma de Buenos Aires,Almagro,Almagro,3.0,2.0,1.0,66.00,64.0,NaN,USD,venta 3 ambientes almagro balcon amenities,corredor responsable marcelo trujillo cucicba ...,Departamento,Venta

In [7]:
df_test.head()

lat                 11336
lon                 11336
suburb               4099
published_suburb     4099
rooms                3445
bedrooms             3099
surface_total        1580
surface_covered      1580
bathrooms             628
currency                0
property_type           0
description             0
title                   0
id                      0
price                   0
ad_type                 0
province                0
country                 0
operation_type          0
dtype: int64

In [8]:
df_train.isna().sum().sort_values(ascending=False)

price               6000
lat                  456
lon                  456
suburb               161
published_suburb     161
id                     0
surface_covered        0
property_type          0
description            0
title                  0
currency               0
bedrooms               0
surface_total          0
bathrooms              0
ad_type                0
rooms                  0
province               0
country                0
operation_type         0
dtype: int64

In [12]:
df_test.isna().sum().sort_values(ascending=False)

In [13]:
# mask = df_train["price"].isna()
# df_train.loc[mask, "price"] = df_train.loc[mask, "title"].apply(search_price)

In [14]:
# mask = df_train["price"].isna()
# df_train.loc[mask, "price"] = df_train.loc[mask, "description"].apply(search_price)

In [15]:
df_train.isna().sum().sort_values(ascending=False)

In [16]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

In [17]:
df_train = df_train[df_test.columns.tolist()]

In [18]:
assert len(df_train.columns) == len(df_test.columns)

In [19]:
drop_cols = [
    # "lat",
    # "lon",
    "title",
    "description",
    "currency",
    "country",
]
dummy_cols = "province suburb published_suburb".split()
drop_cols = drop_cols + dummy_cols

In [20]:
df_train["is_train"] = True
df_test["is_train"] = False

df = pd.concat([df_train, df_test], axis=0)

df['suburb_is_published'] = df['suburb'] == df['published_suburb']

In [21]:
le = LabelEncoder()
columnsToEncode = ["ad_type", "property_type", "operation_type"]
for feature in columnsToEncode:
    df[feature] = le.fit_transform(df[feature])

In [22]:
df = pd.concat([df, pd.get_dummies(df[dummy_cols])], axis=1)
df = df.reset_index(drop=True)

In [23]:
df = df.drop(drop_cols, axis=1)

In [24]:
df_train = df[df["is_train"]].drop("is_train", axis=1)
df_test = df[~df["is_train"]].drop("is_train", axis=1)

In [25]:
df_train = df_train.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [26]:
df_train = df_train.drop_duplicates(keep='last')
df_train = df_train.reset_index(drop=True)

KNNImputer(n_neighbors=3)

In [27]:
price_train = df_train["price"]
price_test = df_test["price"]

id_train = df_train["id"]
id_test = df_test["id"]

In [28]:
df_train = df_train.drop(["price", "id"], axis=1)
df_test = df_test.drop(["price", "id"], axis=1)

In [29]:
assert len(df_train.columns) == len(df_test.columns)

In [30]:
imputer = KNNImputer(n_neighbors=3)
imputer.fit(df_test)

ad_type                                0
published_suburb_Godoy Cruz            0
published_suburb_General Levalle       0
published_suburb_General Paz           0
published_suburb_General San Martín    0
                                      ..
suburb_República de la Sexta           0
suburb_Resistencia                     0
suburb_Retiro                          0
suburb_Rodeo del Medio                 0
price                                  0
Length: 610, dtype: int64

In [31]:
assert len(df_train.columns) == len(df_test.columns)

price                                  6000
published_suburb_Godoy Cruz               0
published_suburb_General Levalle          0
published_suburb_General Paz              0
published_suburb_General San Martín       0
                                       ...
suburb_República de la Sexta              0
suburb_Resistencia                        0
suburb_Retiro                             0
suburb_Rodeo del Medio                    0
published_suburb_Barrio Cumbres           0
Length: 610, dtype: int64

In [36]:
imputed_values = imputer.transform(df_test)
df_test = pd.DataFrame(imputed_values, columns=list(df_test.columns))
df_test.index = id_test
df_test["price"] = price_test

,ad_type,lat,lon,rooms,bedrooms,bathrooms,surface_total,surface_covered,property_type,operation_type,...,published_suburb_Villa Soldati,published_suburb_Villa Urquiza,published_suburb_Villa Vatteone,published_suburb_Villa del Parque,published_suburb_Wilde,published_suburb_Zona 3,published_suburb_Zona 9,published_suburb_Águila,price,dist_buenos_aires
id,,,,,,,,,,,,,,,,,,,,,
5,0.0,-34.663334,-58.486344,3.0,2.0,1.333333,87.0,87.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75000.0,6.541882
98,0.0,-34.603990,-58.412370,1.0,1.0,1.000000,28.0,28.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98000.0,3.329582
100,0.0,-34.691785,-58.406821,1.0,1.0,1.000000,36.0,36.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67000.0,9.311039
101,0.0,-34.553008,-58.457528,3.0,2.0,2.000000,74.0,74.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,335000.0,6.895555
103,0.0,-34.603990,-58.412370,1.0,1.0,1.000000,28.0,28.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98000.0,3.329582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999903,0.0,-34.595001,-58.382999,4.0,3.0,4.000000,153.0,153.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,335000.0,6.202370
999953,0.0,-34.589703,-58.389826,4.0,3.0,5.000000,153.0,153.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,550000.0,5.870915
999954,0.0,-34.594358,-58.397430,5.0,5.0,5.000000,436.0,418.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,950000.0,5.014402
999989,0.0,-34.576273,-58.405182,6.0,5.0,5.000000,320.0,311.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4200000.0,5.678861
999991,0.0,-34.552132,-58.438501,6.0,5.0,5.000000,330.0,300.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3500000.0,6.954183

In [430]:
imputed_values = imputer.transform(df_train)
df_train = pd.DataFrame(imputed_values, columns=list(df_train.columns))
df_train["price"] = price_train
df_train.index = id_train

In [431]:
df_train.isna().sum().sort_values(ascending=False)

ad_type                                0
published_suburb_Godoy Cruz            0
published_suburb_General Levalle       0
published_suburb_General Paz           0
published_suburb_General San Martín    0
                                      ..
suburb_República de la Sexta           0
suburb_Resistencia                     0
suburb_Retiro                          0
suburb_Rodeo del Medio                 0
price                                  0
Length: 610, dtype: int64

In [432]:
df_test.isna().sum().sort_values(ascending=False)

lat                                 456
lon                                 456
published_suburb_Godoy Cruz           0
published_suburb_General Levalle      0
published_suburb_General Paz          0
                                   ...
suburb_República de la Sexta          0
suburb_Resistencia                    0
suburb_Retiro                         0
suburb_Rodeo del Medio                0
published_suburb_Águila               0
Length: 609, dtype: int64